﻿* 
{
    margin:0px;
    padding:0px;
    font-family: 'Arial', Helvetica, sans-serif;
}
div.headerDiv
{
    width:100%;
    height:50px;
    position:fixed;
    left:0px;
    top:0px;
    background-color:#2E92D0;
}
div.headerInsideDiv
{
    width:980px;
    height:50px;
    top:0px;
    background-color:White;
    vertical-align:middle;
    
}

div.bodyDiv
{
    padding-top:20px;
    width:980px;
    min-height:600px;
    top:50px;
    position:relative;
    background: #DDDDDD url(pozadina.jpg) no-repeat;
    background-position:center center;
}

.labeli
{
    font-family: 'Arial', Helvetica, sans-serif;
    font-size:16px;
}

.textBox
{
    font-family: 'Arial', Helvetica, sans-serif;
    font-size:16px;
}
.kopce
{
    font-family: 'Arial', Helvetica, sans-serif;
    font-size:15px;
    margin-left:200px;
}

/* FONT */
font.naslovFont
{
    font-family: 'Arial Black', Helvetica, sans-serif;
    font-size:20px;
}

/* A */
a:link {color:#2E92D0;text-decoration:none;}      /* unvisited link */
a:visited {color:#2E92D0;text-decoration:none;}  /* visited link */
a:hover {color:#000000;text-decoration:none;}  /* mouse over link */
a:active {color:#2E92D0;text-decoration:none;}  /* selected link */