﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="FeedbackS.aspx.cs" Inherits="Redovnost_na_Studenti.FeedbackS" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Курсеви</title>
    <LINK href="Resources/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div align="center">
        <div class="headerDiv" align="center">
            <div class="headerInsideDiv">
            
            </div>
        </div>

        <div class="bodyDiv">
            <div style="position:absolute; left:60px; top:60px;">
                
            </div>
        </div>
    </div>
    </form>
</body>
</html>
